@fontc: #6a6868;
@bgc: #f6f6f6;


html,body{
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica,'PingFangSC-Regular', 'Lantinghei SC', 'Open Sans', 'Arial', 'Hiragino Sans GB', 'Microsoft YaHei', '微软雅黑', 'STHeiti', 'WenQuanYi Micro Hei', 'SimSun', 'sans-serif';
  color:@fontc;
  background-color: @bgc;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  font-size: 10px;

  /* 让字体光滑 */ 
  -webkit-font-smoothing: antialiased;
  
  /* webkit 下默认最小字体12px，小于的会自动矫正，*/ 
  /* 这句是屏蔽这个功效，但chrome新版需要到浏览器里面设置*/ 
  -webkit-text-size-adjust:none;  
}

html{
  font-size:10px;
}

// @media screen and (min-width: 400px) and (max-width:639px) {
//   html{
//     font-size:13px;
//   }
// }

// @media screen and (min-width: 640px) {
//   html{
//     font-size:20px;
//   }
// }

body{
  /* 设置3D 镜头到元素平面的距离 默认所有元素都放z=0 的平面上，设置了perspective 相当于定义立方体到z轴的距离，角度*/ 
  perspective: 100rem;
  -webkit-overflow-scrolling : touch;
}

*,*::before,*::after{
  box-sizing: border-box;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  outline: none;
}


h1{color:grey;font-size:2.4rem;}
.hello-pack{padding:1rem; color:red;font-size:1.2rem;};

.nav{
  list-style:none;
  margin:0 auto;
  padding:0;
  margin-bottom:1rem;
  background-color:#fff;
  padding-left: 1rem;

  .nitem{
    display:inline-block;
    width:6rem;
    height:4rem;
    line-height:4rem;
    font-size:1.4rem;
    text-align:center;
    border-right: 1px solid grey;    
    cursor: pointer;
    position:relative;
  }

  .new::before{
    content:"";
    width:1rem;
    height:1rem;
    border-radius:50%;
    background-color:red;
    position:absolute;
    right: 0.5rem;
    top: 0;
  }  

  .newmsg::before{
    content: attr(msgcount);
    width:2rem;
    height:2rem;
    line-height:2rem;
    color:#fff;
    font-size:1.2rem;
    border-radius:50%;
    background-color:red;
    position:absolute;
    right: -0.5rem;
    top: -1rem;   
  }

  .nitem:active{
    background-color:grey;    
    color: #fff;
  }

  .nitem:last-child{
    border-right:0;
  }

}



.list{
  list-style: none;
  margin: 0;
  padding:0;
}

.item{
  height: 4rem;
  line-height:4rem;
  width:70%;
  margin: 0 auto;
  background-color: #e5e5e5;
  border-radius: 0.4rem;
  font-size:1.6rem;
  position: relative;
  margin-bottom: 1rem;
  text-align:center;
}

.item::before{
  content:attr(index);
  width:3rem;
  height:3rem;
  line-height: 3rem;
  text-align: center;
  border-radius:50%;
  display: inline-block;
  background-color: rgba(400,0,0,0.1);
  left: -3rem;
  top: 0.5rem;
  position: absolute;
}

.item:nth-child(odd){
  background-color: #fff;
}



/* 冒泡提示  start */ 
@bubble-width: 16.1rem;
@bubble-height: 3.5rem;
@bubble-boder-size:1rem;

.up-bubble-tip,.down-bubble-tip{
  position:relative;
}

.up-bubble-tip:before,.up-bubble-tip:after,.down-bubble-tip:before,.down-bubble-tip:after{
  content: attr(new-tip);
  position:absolute;
  width: @bubble-width;
  height: @bubble-height;
  line-height: @bubble-height;
  border-radius:0.4rem;
  background-color:rgba(81, 78, 77, 0.8);
  top:0;
  left:0;
  color:#fff;
  text-align:center;
  font-size:1.2rem;
  z-index:1;
}

.up-bubble-tip:after,.down-bubble-tip:after{
  content:"";
  border: @bubble-boder-size solid transparent;
  border-top: @bubble-boder-size solid rgba(81, 78, 77, 0.8);
  width: 0rem;
  height: 0rem;
  top: @bubble-height;
  left:50%;
  margin-left: 0 - @bubble-boder-size;
  border-radius:0;
  background-color: transparent;
}

.up-bubble-tip:before{
  top:0 - @bubble-height - @bubble-boder-size;
}

.up-bubble-tip:after{
  top:-@bubble-boder-size;
}

.down-bubble-tip:before{
  top:@bubble-height;
}

.down-bubble-tip:after{
  border: @bubble-boder-size solid transparent;
  border-bottom: @bubble-boder-size solid rgba(81, 78, 77, 0.8);  
  top:@bubble-height - 2*@bubble-boder-size;
}

/* 冒泡提示  end */ 
@arrow-bgc: #fff;
@arrow-color: #fa795d ;
@arrow-size:2.3rem;

.left-arrow,.right-arrow{
  width:@arrow-size;  
  height:@arrow-size;
  color: @arrow-color;
  position:relative;
  display:inline-block;
  cursor:pointer;
  background-color:@arrow-bgc;
  vertical-align:middle;
}

.left-arrow:after,.left-arrow:before,.right-arrow:after, .right-arrow:before {
  border: (@arrow-size/2- 0.2) solid transparent;
  border-left: (@arrow-size/2 - 0.2) solid @arrow-bgc;
  width: 0;
  height: 0;
  position: absolute;
  top: 50%;
  right: 50%;
  margin-top: -(@arrow-size/2 - 0.2);
  margin-right: -(@arrow-size/2 - 0.2);
  content:"";
}

.right-arrow:before {
  border-left-color: @arrow-color;
  margin-right: -(@arrow-size/2 - 0.1);
}


.left-arrow:after,.left-arrow:before{
  border-right: (@arrow-size/2 - 0.2) solid @arrow-bgc;
  margin-right: -(@arrow-size/2 - 0.2);  
}

.left-arrow:before{
  border-right-color: @arrow-color;
  margin-right: -(@arrow-size/2 - 0.3 );  
}

/* common animation */


/* pic */

.tangle{
  margin-left:1rem;
  display:inline-block;
  width:3rem;
  height:3rem;
  background-color: #fff;
  border: 1rem solid red;
  border-color: yellow blue red green;
  border-radius:50%;
  // border-radius: 50% 50% 0 0; 
  // -webkit-transform: rotate(-45deg); 
  // -webkit-transform-origin: 0 100%; 
}

.heart{
  width:10rem;
  height:9rem;
  position:relative;
}

.heart::before,.heart::after{
  content:"";
  width:5rem;
  height:8rem;
  left:5rem;
  background-color:red;
  position:absolute;
  border-radius: 50% 50% 0 0; 
  -webkit-transform: rotate(-45deg); 
  -webkit-transform-origin: 0 100%;   
}

.heart::after{
  background-color:green;
  left:0;
  -webkit-transform: rotate(45deg); 
  -webkit-transform-origin: 100% 100%;     
}


.game-container{
  position:relative;
  margin-top:1rem;
}

.she{
  width:0rem;
  height:0rem;
  border :2rem solid red;
  border-right-color: transparent;
  border-radius:50%;
  position:absolute;
}

.she::before{
  content:"";
  width:0;
  height:0;
  border: 0.4rem solid #fff;
  border-radius:50%;
  position:absolute;
  left:-0.8rem;
  top:-1.4rem;
}

.she::after{
  content:"";
  width:0;
  height:0;
  border: 0.6rem solid red;
  border-radius:50%;
  position:absolute;
  left:3rem;
  top:-0.3rem;
}

.mymove{
  animation:goafter 20s linear infinite;
  -webkit-animation: goafter 20s linear infinite;
}

.myround{
  animation:myround 2s linear infinite;
  -webkit-animation: myround 2s linear infinite;
}


@keyframes goafter{
   from{left:-2rem;}
   to{left:32rem;}
}

@-webkit-keyframes go_after{
   from{left:0px;}
   to{left:1000px;}
}


@keyframes myround{
   from{transform:rotate(0deg);}
   to{transform:rotate(360deg);}
}

@-webkit-keyframes myround{
   from{transform:rotate(0deg);}
   to{transform:rotate(360deg);}
}

